@model Comanda

<form asp-controller="Comanda" asp-action="Create" method="post">

    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Comanda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile"
                aria-selected="false">Itens</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row g-3" style="padding-top: 20px;">
                <div class="col-sm-6">
                    <label for="AtendenteId">Atendente</label>
                    <select asp-for="AtendenteId" class="form-control">
                        @foreach (var atendente in ViewBag.Atendentes)
                        {
                            <option value="@atendente.PessoaId">@atendente.Nome</option>
                        }
                    </select>
                </div>

                <div class="col-sm">
                    <label>Garçom</label>
                    <select asp-for="GarconId" class="form-control">
                        @foreach (var garcon in ViewBag.Garçon)
                        {
                            <option value="@garcon.PessoaId">@garcon.Nome</option>
                        }
                    </select>
                </div>

                <div class="col-sm-6">
                    <label>Emissão</label>
                    <input asp-for="DataEmissao" class="form-control" />
                </div>

                <div class="col-sm">
                    <label>Status</label>
                    <input asp-for="Status" class="form-control" />
                </div>

                <div class="col-sm-12">
                    <label>Observação</label>
                    <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row g-3" style="padding-top: 20px;">



                <div class="col-sm-12" style="padding-top: 10px;">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>