@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using System.Text.Json
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kisspeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    @* <link rel="stylesheet" href="~/css/style_login.css" /> *@
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/css/style_home.css" />
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <h2>
                <a href="index.html" class="logo">
                    Kisspeto
                </a>
            </h2>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span> Home</a>
                </li>
                <li>
                    <a asp-controller="Comanda" asp-action="Index"><span class="fa fa-pencil-square-o"></span>
                        Comandas</a>
                </li>
                <li>
                    <a asp-controller="Produto" asp-action="Index"><span class="fa fa-archive"></span> Produtos</a>
                </li>
                <li>
                    <a asp-controller="PessoaAtendente" asp-action="Index"><span class="fa fa-user"></span>
                        Atendentes</a>
                </li>
                <li>
                    <a asp-controller="PessoaGarcon" asp-action="Index"><span class="fa fa-glass"></span> Garçons</a>
                </li>

            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                @{
                                    string json = HttpContextAccessor.HttpContext.Session.GetString("user");

                                    if (json != null)
                                    {
                                        PessoaAtendente user = JsonSerializer.Deserialize<PessoaAtendente>(json);

                                        if (user != null)
                                        {
                                            <a class="nav-link text-dark">Bem vindo, @user.Nome</a>
                                        }
                                    }
                                    else
                                    {

                                    }
                                }
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PessoaAtendente"
                                    asp-action="Sair">/ Sair</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Comanda" asp-action="Index">Comandas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Produto" asp-action="Index">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PessoaAtendente" asp-action="Index">Atendentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PessoaGarcon" asp-action="Index">Garçons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
