@model PessoaGarcon

<form asp-controller="PessoaGarcon" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome"></span>
    </div>

    <div class="form-group">
        <label>CPF</label>
        <input asp-for="CPF" class="form-control" />
    </div>

    <div class="form-group">
        <label>Telefone</label>
        <input asp-for="Telefone" class="form-control" />
    </div>

    <div class="form-group">
        <label>Salario</label>
        <input asp-for="Salario" class="form-control" />
    </div>

    <div class="form-group">
        <label>Comissão(%)</label>
        <input asp-for="Comissao" class="form-control" />
    </div>

    <div class="form-group">
        <label>Regime Trabalista</label>
        <select asp-for="RegimeTrab">
            <option value="CLT">CLT</option>
            <option value="Freelancer">Freelancer</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Ativo">Ativo</label>

        <select asp-for="Ativo">
            <option value="TRUE">Sim</option>
            <option value="FALSE">Não</option>
        </select>
    </div>

    <button class="btn btn-primary">Salvar</button>
</form>